package ${PackageConfig.parent}.${PackageConfig.controller};

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 *
 * @author ${GlobalConfig.author}
 * @date ${GlobalConfig.date}
 */

@RestController
@RequestMapping("/${PackageConfig.moduleNameInHyphen}/${ClassConfig.entityInHyphen}")
public class ${ClassConfig.entity}${ClassConfig.controller} {

}